.banner {
	width: 100%;
	height: 30vh;
	background: var(--primary);
	background-image: linear-gradient(#fff, #f3f2f0);
	color: var(--secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner > h2 {
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
	font-size: 32px;
}

.banner > p {
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
	font-size: 14px;
}

.containerdiv {
	margin: 3vh auto 0;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
	justify-content: space-between;
}

.article {
	width: 100%;
	padding: 5vh 15px;
	min-height: auto;
	color: var(--primary);
	background-color: #263194;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
	.article {
		width: calc(100% / 2 - 30px);
		min-height: auto;
	}
}

@media screen and (min-width: 1280px) {
	.article {
		width: calc(100% / 3 - 30px);
		min-height: auto;
	}
}

.article__cat {
	max-width: 90%;
	padding: 5px 10px;
	background: var(--secondary);
	color: var(--primary);
	border-radius: 15px;
	margin-bottom: 1vh;
}

.article__name {
	text-align: center;
	width: 90%;
	margin-bottom: 1vh;
	font-size: 28px;
	font-weight: 800;
}

.article__info {
	max-width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
	.article__name {
		font-size: 24px;
	}
}
