.section {
	min-height: calc(100vh - (10vh + 42px));
	width: 100%;
	color: black;
	background-color: rgb(242, 245, 248);
}

.section__latest {
	display: flex;
	flex-direction: column;
	/* width: calc(100vw - 40px); */
	width: 100%;
	padding: 20px 20px 0;
}

.section__latest > h2 {
	font-size: 34px;
	font-weight: 500;
}

.section__latest > p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}

.section__latestArticles {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section__latestArticles__article {
	padding: 5px 0;
	width: 30%;
	height: auto;
	margin: 10px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	position: relative;
}

.viewMoreBtn {
	position: absolute;
	right: 0;
	bottom: 5px;
	background: black;
	color: white;
	font-size: 10px;
	padding: 5px;
	cursor: pointer;
}

@media screen and (max-width: 780px) {
	.section__latest > h2 {
		font-size: 26px;
	}

	.section__latest > p {
		font-size: 14px;
	}

	.section__latestArticles__article {
		width: 45%;
	}
}

@media screen and (max-width: 430px) {
	.section__latestArticles__article {
		width: 100%;
	}
}
.section__latestArticles__article > img {
	width: 100%;
	height: 150px;
	background-color: black;
}

.section__latestArticles__title {
	font-size: 20px;
	margin-bottom: 10px;
}

.section__latestArticles__article > div {
	display: flex;
	align-items: center;
	width: 100%;
}

.section__latestArticles__article > div > p {
	font-size: 11px;
}

.section__latestArticles__article > div > p:nth-child(1) {
	padding: 5px;
	background: black;
	color: white;
	margin-right: 8px;
	border: none;
}

@media screen and (max-width: 600px) {
	.section__latestArticles__title {
		font-size: 17px;
	}

	.section__latestArticles__article > div {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.section__latestArticles__article > div > p {
		font-size: 10px;
	}
}

@media screen and (max-width: 430px) {
	.section__latestArticles__title {
		font-size: 15px;
	}

	.section__latestArticles__article > div > p {
		font-size: 10px;
	}
}
