.section {
	min-height: 50vh;
	padding-bottom: 20px;
	width: 100%;
	color: black;
	background-color: rgb(242, 245, 248);
}

.section__latest {
	display: flex;
	flex-direction: column;
	/* width: calc(100vw - 40px); */
	width: 100%;
	padding: 20px 20px 0;
}

.section__latest > h2 {
	font-size: 34px;
	font-weight: 500;
}

.section__latest > p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}

.section__latestArticles {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section__latestArticles__article {
	padding: 5px 0;
	width: 30%;
	height: auto;
	margin: 10px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	position: relative;
}

.viewMoreBtn {
	position: absolute;
	right: 0;
	bottom: 5px;
	background: black;
	color: white;
	font-size: 10px;
	padding: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.viewMoreBtn:hover {
	color: var(--volgon);
}

@media screen and (max-width: 780px) {
	.section__latest > h2 {
		font-size: 26px;
	}

	.section__latest > p {
		font-size: 14px;
	}

	.section__latestArticles__article {
		width: 45%;
	}
}

@media screen and (max-width: 430px) {
	.section__latestArticles__article {
		width: 100%;
	}
}
.section__latestArticles__article > img {
	width: 100%;
	height: 150px;
	background-color: black;
}

.section__latestArticles__title {
	transition: 0.3s;
	font-size: 20px;
}

.section__latestArticles__title:hover {
	color: var(--volgon);
}

.section__latestArticles__article > div {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.section__latestArticles__article > div > p {
	font-size: 11px;
}

.section__latestArticles__article > div > p:nth-child(1) {
	padding: 5px;
	background: black;
	color: white;
	margin-right: 8px;
	border: none;
}

@media screen and (max-width: 600px) {
	.section__latestArticles__title {
		font-size: 17px;
	}

	.section__latestArticles__article > div {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.section__latestArticles__article > div > p {
		font-size: 10px;
	}
}

@media screen and (max-width: 430px) {
	.section__latestArticles__title {
		font-size: 15px;
	}

	.section__latestArticles__article > div > p {
		font-size: 10px;
	}
}

/* styles for category section of the page */

.categories {
	min-height: 40vh;
	width: 100%;
	color: black;
	background-color: rgb(242, 245, 248);
}

@media screen and (min-width: 900px) {
	.categories {
		min-height: 40vh;
		width: 100%;
		color: black;
		background-color: rgb(242, 245, 248);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		padding-bottom: 40px;
		grid-auto-flow: dense;
	}
}

.category {
	width: calc(100vw- 40px);
	/* padding: 20px 20px; */
	padding: 0 20px;
	margin-bottom: 20px;
}

.category > h2 {
	font-size: 34px;
	font-weight: 500;
}

.category > p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
	.category > h2 {
		font-size: 26px;
	}

	.category > p {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	.category > h2 {
		font-size: 22px;
	}

	.category > p {
		font-size: 12px;
	}
}

.catArticlesContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.catArticles {
	display: flex;
	height: 125px;
	padding: 10px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.catArticles > img {
	height: 100%;
	min-width: 30%;
	width: 30%;
	margin-right: 10px;
	background: black;
}

.catArticles > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.catArticles > div > h2 {
	transition: 0.3s;
	font-size: 19px;
	font-weight: 500;
	text-transform: capitalize;
}

.catArticles > div > p {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.7);
}

.catArticles:hover > div > h2 {
	color: var(--volgon);
}

@media screen and (max-width: 400px) {
	.catArticles > img {
		height: 100%;
		width: 40%;
		margin-right: 10px;
		background: black;
	}

	.catArticles > div > h2 {
		font-size: 14px;
		font-weight: 500;
	}

	.catArticles > div > p {
		font-size: 10px;
		color: rgba(0, 0, 0, 0.7);
	}

	.catArticles {
		height: 110px;
	}
}

.moreOnCat {
	width: 100%;
	text-align: right;
	padding: 10px 0;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.moreOnCat > a {
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.moreOnCat > a:hover {
	color: var(--volgon);
}

/* styles for bitcoin chart */

.chartSection,
.chartSection2,
.chartSection3 {
	width: calc(100vw- 60px);
	/* padding: 20px 20px; */
	padding: 0 30px;
	height: calc(100% - 20px);
}

.chartSection2 {
	grid-row: 1;
}

.chartSection3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chartSection3 > h1 {
	font-size: 34px;
	font-weight: 500;
	margin-bottom: 10px;
}

.chartContainer {
	height: auto;
	background-color: #1d2330;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #282e3b;
	border-radius: 4px;
	text-align: right;
	line-height: 14px;
	font-size: 12px;
	font-feature-settings: normal;
	text-size-adjust: 100%;
	box-shadow: inset 0 -20px 0 0 #262b38;
	padding: 1px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.chart {
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.chartIframe {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 14px;
}

.attribContainer {
	color: #626b7f;
	line-height: 14px;
	font-weight: 400;
	font-size: 11px;
	box-sizing: border-box;
	padding: 2px 6px;
	width: 100%;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.attrib {
	font-weight: 500;
	color: #626b7f;
	text-decoration: none;
	font-size: 11px;
}

/* styles for second chart */

.chartContainer2 {
	height: auto;
	background-color: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #56667f;
	border-radius: 4px;
	text-align: right;
	line-height: 14px;
	font-size: 12px;
	font-feature-settings: normal;
	text-size-adjust: 100%;
	box-shadow: inset 0 -20px 0 0 #56667f;
	padding: 1px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	grid-row: 1;
}

.chart2 {
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.chartIframe2 {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 14px;
}

.attribContainer2 {
	color: #ffffff;
	line-height: 14px;
	font-weight: 400;
	font-size: 11px;
	box-sizing: border-box;
	padding: 2px 6px;
	width: 100%;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.attrib2 {
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
}

/* styles for crypto converter */
.chartContainer3 {
	width: 400px;
	height: 335px;
	background-color: #232937;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid #282e3b;
	border-radius: 4px;
	text-align: right;
	line-height: 14px;
	block-size: 335px;
	font-size: 12px;
	font-feature-settings: normal;
	text-size-adjust: 100%;
	box-shadow: inset 0 -20px 0 0 #262b38;
	margin: 0;
	width: 100%;
	padding: 1px;
	padding: 0px;
	margin: 0px 0 20px;
}

.chart3 {
	height: 315px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.chartIframe3 {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 14px;
}

.attribContainer3 {
	color: #626b7f;
	line-height: 14px;
	font-weight: 400;
	font-size: 11px;
	box-sizing: border-box;
	padding: 2px 6px;
	width: 100%;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.attrib3 {
	font-weight: 500;
	color: #626b7f;
	text-decoration: none;
	font-size: 11px;
}

@media screen and (min-width: 900px) {
	.chart,
	.chart2,
	.chartContainer,
	.chartContainer2 {
		min-height: 540px;
		height: 100%;
	}

	.chartIframe,
	.chartIframe2 {
		min-height: 539px;
		height: 100%;
	}
}

@media screen and (min-width: 200px) {
	.chart,
	.chart2,
	.chartContainer,
	.chartContainer2 {
		height: 400px;
	}

	.chartIframe,
	.chartIframe2 {
		height: 398px;
	}
}

@media screen and (max-width: 768px) {
	.chartSection,
	.chartSection2 {
		padding-bottom: 20px;
	}

	.category {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 600px) {
	.chartSection3 > h1 {
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 10px;
	}
}

.twitter {
	width: 100%;
	height: 315px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #aee1f9;
	background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
}

.twitter > h2 {
	font-size: 22px;
	font-weight: 500;
}

@media screen and (max-width: 600px) {
	.twitter > h2 {
		font-size: 16px;
		font-weight: 500;
	}
}

.twitter > a {
	margin-bottom: 30px;
}
